<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.firstName %>
  </td>
  <td>
    <%= user.lastName %>
  </td>
  <td>
    <%= user.studentID %>
  </td>
  <td>
    <%= user.done.ex1 %>
  </td>
  <td>
    <%= user.done.ex2 %>
  </td>
  <td>
    <%= user.done.ex3 %>
  </td>
</tr>